<!DOCTYPE html>
<html lang="en">
<head>
  <title>Song Chordz | Start playing songs on your keyboard immediately</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="description" content="Song Chordz allows ear-trained keyboard players to download chorded sheet music for faster learning.">
  <meta name="keyword" content="">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdn.optimizely.com/js/6611953346.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content" class="container">
    <header id="content-header">
      <div id="price-container">
        <!--<span class="glyphicon glyphicon-tag"></span><span class="price">$4.99</span>-->
      </div>
      <%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Song Chordz') %>
    </header>

    <%= yield %>
    
  </div>
  
  // <script>
  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  // })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  // ga('create', 'UA-81238046-1', 'auto');
  // ga('send', 'pageview');

  // </script>
</body>
</html>